/* !Tablet devices */
@media screen and (max-width: 1200px) {
  .logo {
    width: 20%;
  }
  .navbar-link {
    width: 60%;
  }
  .navbar ul,
  a {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 12px;
  }
  .navbar .logo img {
    width: 60%;
    margin-left: 6px;
  }
  .navbar ul,
  a :hover {
    color: #ef0000;
  }
}
/* !Mobile devices */
@media screen and (max-width: 768px) {
  .under-development {
    display: none;
  }
  header {
    height: 40px;
  }
  .logo {
    width: 22%;
  }
  .navbar {
    height: 40px;
  }

  .navbar ul,
  a {
    font-size: 0.5rem;
    margin-right: 7px;
  }
  .navbar ul,
  a:hover {
    font-size: 0.5rem;
    margin-right: 8px;
    color: #ef0000;
  }
  .navbar .logo img {
    width: 80%;
    margin-left: 4px;
  }

  /*? banner section styling */
  .home_container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .home .content {
    margin: 40px;
  }
  .home .content h1 {
    font-size: 2.2rem;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #ffffff;
  }
  .home .content p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  .btn {
    padding: 2px 10px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  hr {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .follow_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .follow_us a i {
    font-size: 0.5rem;
    padding-right: 35px;
  }

  /* !-- ?Main section staret from here --> */
  /* ?-- ?Donate Section --> */
  .donate {
    padding: 30px 0;
  }
  .donate .donate_container {
    width: 80%;
    margin: 0 auto;
  }
  .donate h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .donate p {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .donate-type span {
    font-size: 1.2rem;
    padding: 10px;
  }

  .donate h2 {
    font-size: 16px;
    opacity: 0.5;
    font-weight: 400;
    margin-top: 30px;
  }

  /* !-- ?Donate Plan Section --> */
  .category {
    display: none;
  }
}
