@media screen and (max-width: 1200px) {
  .logo {
    width: 20%;
  }
  .navbar-link {
    width: 60%;
  }
  .navbar ul,
  a {
    font-size: 1.0rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 12px;
  }
  .navbar .logo img {
    width: 60%;
    margin-left: 6px;
  }
  .navbar ul,
  a :hover {
    color: #ef0000;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 3%;
  }
  .navbar-link {
    width: 20%;
  }
  .navbar ul,
  a {
    font-size: 0.4rem;
    margin-right: 8px;
  }
  .navbar .logo img {
    width: 80%;
    margin-left: 4px;
  }
}
